<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Catalogue</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Gestion des Catégories</a></li>
          <li><a href="#">Gestion des produits</a></li>
          <li><a href="#">Gestion des utilisateurs</a></li>
        </ul>
      </li>

    </ul>
    <ul class="nav navbar-nav pull-right">
      <li>
        <a>login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-md-2">
    <app-categories></app-categories>
  </div>
<div class="col-md-9">
  <router-outlet>

  </router-outlet>
</div>
</div>
